.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-track {
  display: none;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
}

.scrollbar:hover::-webkit-scrollbar-thumb {
  background: rgba(119, 84, 178, 0.2);
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgb(119, 84, 178);
}